@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    height: 100vh;
}

.header,
.hero {
    background: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:16px 200px;
    padding-bottom: 120px;
}

header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img img{
    width: 500px;
    height: 350px;
    padding-right: 200px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-left: 200px;
}